<!DOCTYPE html>
<html th:replace="~{base :: layout (~{::main})}">
<!-- <head>
       <title>Detalhes do Estudante</title>
</head> -->
<body>
    <main>
        
    <!-- <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 container justify-content-center card">
                <h1 class="text-center">Cadastrar  estudante</h1>
                <div class="card-body " >
                    <form class="row g-3 " th:action="@{/estudantes} " th:object="${estudante}" method="Post">
                        <div class="form-group">
                            <label > Nome</label>
                            <input type="text" name="name" th:field="*{name}" placeholder="Nome" class="form-control">
                        </div>
                        <div class="form-group">
                            <label > Telefone</label>
                            <input type="text" name="Telefone" th:field="*{telefone}" placeholder="Telefone" class="form-control">
                        </div>
                        <div class="form-group">
                            <label > Email</label>
                            <input type="text" name="email" th:field="*{email}" placeholder="Email" class="form-control">
                        </div>
                        
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button type="submit" class="btn btn-primary mt-4 btn-lg">Enviar</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div> -->
   
    </main>
</body>
</html>